@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --shadow-yellow-center: 0px 0px 50px -2px oklch(85.2% 0.199 91.936);
  --drop-shadow-yellow-center: 0px 0px 15px oklch(85.2% 0.199 91.936);
  --drop-shadow-black-center: 0px 0px 15px #000;
  --drop-shadow-white-center: 0px 0px 15px #fff;
  --shadow-black-center: 0px 0px 50px -2px #000;
  --shadow-white-center: 0px 0px 50px -2px #fff;
  --ease-bounce: cubic-bezier(0.34, 1.56, 0.64, 1);
}

html {
  background-color: var(--color-neutral-50);
}

.button {
  transition: background linear 200ms, scale var(--ease-bounce) 400ms;
}

.nav-link::before {
  transition: background ease-in-out 200ms, scale var(--ease-bounce) 400ms;

  @apply w-full h-full absolute z-[-1] top-1/2 left-1/2 -translate-1/2 content-[""];
}
